* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/players/scene.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Hace que el juego ocupe todo el espacio visible */
main {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.bodyGame, .rivalOne, .rivalTwo, .rivalThree, .rivalFour{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}

.bodyPlayers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}

.game-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /* Tamaños de las 3 columnas */
    gap: 10px;
}

.map-game {
    display: grid;
    grid-template-rows: repeat(3, 1fr); /* Divide el medio en 5 filas */
    gap: 5px;
}

/*---------------------------------------------------------------------*/

.board {
    display: flex;
    justify-content: space-around;
    background-color: #1a252f;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #34495e;
}

.zone {
    text-align: center;
}

.zone h2, .player-hand-cards h2 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #bdc3c7;
}


.card-slot, .card {
    width: 100px;
    height: 140px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

.card-slot {
    border: 2px dashed #7f8c8d;
    color: #7f8c8d;
    background-color: rgba(0, 0, 0, 0.2);
}

.card {
    background-color: #fff;
    color: #333;
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    flex-direction: column;
    font-size: 1.2rem;
}

.card.deck {
    background-color: #c0392b;
    color: white;
    cursor: pointer;
    border-color: #962d22;
}

.card.deck:hover {
    background-color: #e74c3c;
}

/*--------------------MANO DEL JUGADOR-----------------------------------------*/

.hand {
    display: flex;
    justify-content: center;
    gap: 15px;
    min-height: 150px;
    background-color: #34495e;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.hand .card {
    cursor: pointer;
    transition: transform 0.2s;
}

.hand .card:hover {
    /*transform: translateY(-10px);
    border-color: #3498db;*/
    transform: translateY(-20px) scale(1.05);
    z-index: 10; /* Trae la carta seleccionada al frente */
    cursor: pointer;
}

/*------------------------estilo de cartas en mano---------------------------*/

.player-hand-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea las bases de las cartas */
    height: 100%;
    width: 100%;
    background-color: #34495e;
}

.left-card, .medium-card, .right-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #ccc;
    transition: transform 0.2s ease; /* Suaviza el efecto al pasar el mouse */

    /* Punto de anclaje inferior central para la rotación */
    transform-origin: bottom center; 
}

.left-card{
    transform: rotate(-15deg);
    margin-right: -40px; /* Junta las cartas */
}

.medium-card{
    transform: rotate(0deg);
    z-index: 2; /* Mantiene la carta del centro al frente */
}

.right-card{
    transform: rotate(15deg);
    margin-left: -40px; /* Junta las cartas */
}

/*------------------------estilo de cartas del rival---------------------------*/

.oponent-hand-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea las bases de las cartas */
    height: 250px;
    background-color: #34495e;
}

.left-card .medium-card .right-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #ccc;
    transition: transform 0.2s ease; /* Suaviza el efecto al pasar el mouse */

    /* Punto de anclaje inferior central para la rotación */
    transform-origin: bottom center; 
}

.left-card{
    transform: rotate(-15deg);
    margin-right: -40px; /* Junta las cartas */
}

.medium-card{
    transform: rotate(0deg);
    z-index: 2; /* Mantiene la carta del centro al frente */
}

.right-card{
    transform: rotate(15deg);
    margin-left: -40px; /* Junta las cartas */
}

/* bloquea las manos-------------------------------------------------------*/
.disabled{
    pointer-events: none; 
    opacity: 0.6; /* Opcional: da un efecto visual de que la mano está desactivada */
}

/* cuerpo*/

.organ {
    width: 100px;
    height: 140px;
    border-radius: 8px;
    color: #7f8c8d;
    left: 50%;
    bottom: 50%;
    display: flex;  /* clave para la creacion de iconos <-------------------------------------*/
    justify-content: flex-end; /* Alinea los tokens a la DERECHA */
    align-items: flex-start;   /* Alinea los tokens ARRIBA */
}

.organSlot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    aspect-ratio: 6 / 5;
    /*min-height: 120px; /* Ajusta este valor al alto deseado para las celdas si se usa CSS Grid */
    overflow: hidden;  /* Evita que cualquier cosa se salga del recuadro rojo */
    box-sizing: border-box;
}

#brain-slot{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../assets/board/brain_slot.png);
}

#heart-slot{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(../assets/board/heart_slot.png);
}

#stomach-slot{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url(../assets/board/stomach_slot.png);
}
#bone-slot{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(../assets/board/bone_slot.png);
}
#nervous-slot{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-image: url(../assets/board/nervous_system.png);
}

#brain-slot,
#heart-slot,
#stomach-slot,
#bone-slot,
#nervous-slot{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}


#brain-slot-rivalOne, #brain-slot-rivalTwo, #brain-slot-rivalThree, #brain-slot-rivalFour{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url(../assets/board/brain_slot_rival.png);
}

#heart-slot-rivalOne, #heart-slot-rivalTwo, #heart-slot-rivalThree, #heart-slot-rivalFour{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(../assets/board/heart_slot_rival.png);
}
#stomach-slot-rivalOne, #stomach-slot-rivalTwo, #stomach-slot-rivalThree, #stomach-slot-rivalFour{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url(../assets/board/stomach_slot_rival.png);
}
#bone-slot-rivalOne, #bone-slot-rivalTwo, #bone-slot-rivalThree, #bone-slot-rivalFour{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(../assets/board/bone_slot_rival.png);
}
#nervous-slot-rivalOne, #nervous-slot-rivalTwo, #nervous-slot-rivalThree, #nervous-slot-rivalFour{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-image: url(../assets/board/nervous_system_rival.png);
}

#brain-slot-rivalOne, #brain-slot-rivalTwo, #brain-slot-rivalThree, #brain-slot-rivalFour,
#heart-slot-rivalOne, #heart-slot-rivalTwo, #heart-slot-rivalThree, #heart-slot-rivalFour,
#stomach-slot-rivalOne, #stomach-slot-rivalTwo, #stomach-slot-rivalThree, #stomach-slot-rivalFour,
#bone-slot-rivalOne, #bone-slot-rivalTwo, #bone-slot-rivalThree, #bone-slot-rivalFour,
#nervous-slot-rivalOne, #nervous-slot-rivalTwo, #nervous-slot-rivalThree, #nervous-slot-rivalFour{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}



/*-------------------------botones de uso de cartas-------------------------------*/

.option {
    position: fixed; /* Rompe el flex/grid y se fija a la pantalla */
    z-index: 99999;  /* Capa máxima para que nada los tape */
    width: 100px;
    height: 40px;
    background-color: #9d3636;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.use {
    bottom: 15%;
    left: 52%;
}

.discard {
    bottom: 5%;
    left: 52%;
}

/*-------------------contenedores de los cuerpos de cada jugador--------------------------*/

.rivalOne{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #1e0ece;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.rivalTwo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #e74c3c;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.rivalThree{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #cee80c;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.rivalFour{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #07ea0b;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

/* estilos para los virus */

/* Fila contenedora de los iconos abajo del órgano */
.organ-tokens {
    /* position: absolute; */
    bottom: 8px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 6px;
    pointer-events: none; /* Los clics pasan a través de los iconos directo al órgano */
}

/* Estilo base para todos los tokens de virus */
.token.virus-token, .token.medicine-token {
    width: 25px; /* Ajusta el tamaño de tu icono aquí */
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

/* Rutas a tus iconos personalizados según el color */
.token.virus-token.yellow,
.token.virus-token.blue,
.token.virus-token.red,
.token.virus-token.green,
.token.virus-token.rainbow {
    background-image: url("../assets/icons/virus_icon.png");
}

.token.medicine-token.yellow,
.token.medicine-token.blue,
.token.medicine-token.red,
.token.medicine-token.green,
.token.medicine-token.rainbow {
    background-image: url("../assets/icons/medicine.png");
}