* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../assets/players/scene.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Evita scrolls no deseados en la pantalla principal */
}

.game-container {
    display: grid;
    /* Aumentamos el peso de la tercera columna (de 2.5fr a 3.5fr) */
    grid-template-columns: 1fr 1.5fr 2fr; 
    gap: 15px;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-items: center;
}

/* --- COLUMNA 1: CUERPO DEL JUGADOR LOCAL --- */
.bodyGame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 95vh;
}

/* --- COLUMNA 2: MESA CENTRAL TABLERO Y MANO--- */
.map-game {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Distribución perfecta: arriba rival, centro mesa, abajo jugador */
    gap: 15px;
    height: 95vh;
}

/* --- COLUMNA 3: CUERPO DE LOS RIVALES --- */
.bodyRivals {
    width: 100%;
    height: calc(100vh - 20px); 
    overflow: hidden; 
}

.bodyPlayers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    width: 100%;
    height: 100%;
}