#menuPlayer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    font-size: 130px;
    color: white;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.selectPlayer{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 50%;
}

.orange{
    background-image: url("../assets/players/orange_player.png");
    background-size: cover;
}

.blue{
    background-image: url("../assets/players/blue_player.png");
    background-size: cover;
}

.red{
    background-image: url("../assets/players/red_player.png");
    background-size: cover;
}

.yellow{
    background-image: url("../assets/players/yellow_player.png");
    background-size: cover;
}

.green{
    background-image: url("../assets/players/green_player.png");
    background-size: cover;
}

.menu button {
    font-family: "Pixelify Sans", sans-serif;
    margin: 10px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    
}

.menu button:hover {
    color: rgb(9, 239, 101);
}